{% extends "base.html" %}

{% block content %}

<h2>매물 수정</h2>

<form method="POST">

건물명:<br>
<input name="building_name" value="{{ p.building_name }}"><br><br>

전용평수:<br>
<input name="exclusive_area" value="{{ p.exclusive_area }}"><br><br>

계약평수:<br>
<input name="contract_area" value="{{ p.contract_area }}"><br><br>

보증금:<br>
<input name="deposit" value="{{ p.deposit }}"><br><br>

월세:<br>
<input name="rent" value="{{ p.rent }}"><br><br>

특징:<br>
<textarea name="feature" rows="3" cols="40">{{ p.feature }}</textarea><br><br>

임차인:<br>
<textarea name="tenant" rows="2" cols="40">{{ p.tenant }}</textarea><br><br>

임대인:<br>
<textarea name="owner" rows="2" cols="40">{{ p.owner }}</textarea><br><br>

<button type="submit">수정완료</button>

</form>

{% endblock %}
