{% extends "base.html" %}

{% block content %}


<div class="card info-box">
    <div>📅 최신화 날짜 : {{ upload_time }}</div>
    <div>📦 전체 매물 수 : {{ properties|length }} 개</div>
</div>

{% if mode == "sale" %}
<h2>매매 매물 목록</h2>
{% else %}
<h2>월세 매물 목록</h2>
{% endif %}

<div class="card">

<form method="get">

    <input type="hidden" name="mode" value="{{ mode }}">

    <div class="filter-row">
        <strong>매물종류 :</strong>

        <select name="property_type" onchange="this.form.submit()">
            <option value="" {% if not property_type %}selected{% endif %}>전체</option>
            <option value="상가" {% if property_type == '상가' %}selected{% endif %}>상가</option>
            <option value="사무실" {% if property_type == '사무실' %}selected{% endif %}>사무실</option>
            <option value="주거용" {% if property_type == '주거용' %}selected{% endif %}>주거용</option>
        </select>
    </div>

</form>

<div class="sort-buttons">

    <a href="/?mode={{ mode }}&property_type={{ property_type }}">기본정렬</a>

    {% if mode == "sale" %}
        <a href="/?mode=sale&sort=sale_asc&property_type={{ property_type }}">매매가 ▲</a>
        <a href="/?mode=sale&sort=sale_desc&property_type={{ property_type }}">매매가 ▼</a>
    {% else %}
        <a href="/?mode=rent&sort=rent_asc&property_type={{ property_type }}">월세 ▲</a>
        <a href="/?mode=rent&sort=rent_desc&property_type={{ property_type }}">월세 ▼</a>
    {% endif %}

    <a href="/?mode={{ mode }}&sort=area_asc&property_type={{ property_type }}">평수 ▲</a>
    <a href="/?mode={{ mode }}&sort=area_desc&property_type={{ property_type }}">평수 ▼</a>

</div>

</div>


{% for p in properties %}

<div class="card property-card">

    <div class="card-row">
        <div class="card-left">
            <div class="title">{{ p.building_name }}</div>

            <div class="detail">
                종류 : {{ p.property_type }}
            </div>

            <div class="detail">
                전용 : {{ p.exclusive_area }}평 /
                계약 : {{ p.contract_area }}평
            </div>
        </div>

        <div class="card-right">
            <div class="price">
               {% if p.category == "매매" %}
                   매매가 {{ format_sale_price_korean(p.sale_price) }}
               {% else %}
                   임대 {{ p.deposit }}/{{ p.rent }}
               {% endif %}
        </div>

        </div>
    </div>

</div>


{% endfor %}

</div>

{% endblock %}
