{% extends "base.html" %}

{% block content %}

<h1>빠른 매물 등록</h1>

<div style="margin-bottom:10px;">
    <button class="big-btn home-btn" onclick="goHome()">홈으로 가기</button>
</div>

<hr>


<h3>2. 자유형 자동 분석 방식</h3>

<form method="POST">

자유형 매물 메모 입력:<br><br>

<textarea name="raw_text" rows="12" cols="80"
placeholder="예시 입력:

엠시그니처 514호
전용: 45.98평
계약: 104.89평
임대: 4000/350

이와 같이 그대로 붙여넣기"></textarea>

<br><br>

<button type="submit" class="big-btn search-btn">자동 분석 등록</button>

</form>

{% endblock %}
